@import "../utilities/mixins&variables";

.contact-h2 {
    text-align: center;
}

.form {
    @include flexAlignment(column, space-between, center);

    label {
        margin: 1rem;
    }

    input {
        padding: 0.5rem 0.5rem;
        border: 2.5px dotted $ligthRed;
        outline: none;
        background-color: #f5f5f5;
    }

    textarea {
        padding: 0.5rem;
        resize: vertical;
    }

    button {
        @include actionBtn();
        margin-top: 3rem;
    }
}
