@import "../mixins&variables";

.footer-container {
    @include flexCenter();
    background-color: $darkPurple;
    height: 2rem;

    p {
        color: #ffffff;
    }

    span {
        color: $ligthRed;
    }
}
