@import "../utilities/mixins&variables";

.footer-container {
    text-align: center;
    background-color: $darkPurple;

    p {
        color: #ffffff;
    }

    span {
        color: $ligthRed;
    }
}
