@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

li {
  font-size: 1.5rem;
  list-style: none;
}

i {
  color: #440a67;
}

a {
  color: #ffffff;
  text-decoration: none;
}

section {
  padding: 3.5rem 0.5rem;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 3rem;
  color: #440a67;
}

h3 {
  font-size: 2rem;
  color: #440a67;
}

h4 {
  font-size: 1.5rem;
  color: #440a67;
}

label {
  font-size: 1.5rem;
  color: #440a67;
  cursor: pointer;
}

button {
  border-style: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 3.5rem;
  background-color: #440a67;
  z-index: 9999;
}

nav.desktop-nav {
  text-align: center;
  width: 100%;
}

.nav-list > li {
  display: inline-block;
  padding: 0 2rem;
}

.navegation-links a {
  position: relative;
  border-bottom: 0.3rem solid #fa1e0e;
}

.navegation-links a:hover {
  top: 0.3rem;
  border-bottom: 0.15rem solid #fa1e0e;
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  color: #ffffff;
}

@media Screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-list li {
    font-size: 1.2rem;
  }
}

@media Screen and (min-width: 320px) and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .nav-list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .mobile-menu {
    display: block;
    padding: 1rem;
    text-align: start;
  }
  .mobile-menu button {
    background-color: transparent;
  }
}

.aboutMe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50%;
}

.image-container img {
  width: 75%;
  height: 350px;
}

.links-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
}

.links-ul i:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #c40d00;
}

.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}

.information-container p {
  max-width: 550px;
}

.purple-highlighted {
  color: #440a67;
  font-weight: 700;
}

.cv-button {
  cursor: pointer;
  padding: 1rem 4rem;
  background-color: #c40d00;
  border-radius: 3rem;
  -webkit-transition: 600ms;
  transition: 600ms;
  margin: 1rem;
}

.cv-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #440a67;
  -webkit-box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutMe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information-container {
    margin-top: 2rem;
    width: 90%;
  }
  .image-container .links-ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .image-container img {
    display: none;
  }
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 20px 30px 5px rgba(189, 189, 189, 0.53);
          box-shadow: 0px 20px 30px 5px rgba(189, 189, 189, 0.53);
  height: 3.5rem;
}

.skill-row .row-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-row .row-information h4 {
  margin-left: 1.5rem;
}

#projects-h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.card {
  width: 18rem;
  height: 20rem;
  margin: 2rem 1rem;
  -webkit-box-shadow: 0px 20px 30px 5px rgba(189, 189, 189, 0.53);
          box-shadow: 0px 20px 30px 5px rgba(189, 189, 189, 0.53);
  border-radius: 8px;
  overflow: hidden;
}

.card * {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.card img {
  width: 100%;
  height: 70%;
}

.card h4 {
  padding: 0.75rem 0.75rem 3rem;
}

.card .hover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:hover img,
.card:focus-within img {
  margin-top: -4rem;
}

.projects-links {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #c40d00;
  border-radius: 3rem;
  -webkit-transition: 600ms;
  transition: 600ms;
  margin: 1rem;
}

.projects-links:hover {
  margin-top: 0.2rem;
  background-color: #440a67;
  -webkit-box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-h2 {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form label {
  margin: 1rem;
}

.form input {
  padding: 0.5rem 0.5rem;
  border: 2.5px dotted #fa1e0e;
  outline: none;
  background-color: #f5f5f5;
}

.form textarea {
  padding: 0.5rem;
  resize: vertical;
}

.form button {
  cursor: pointer;
  padding: 1rem 4rem;
  background-color: #c40d00;
  border-radius: 3rem;
  -webkit-transition: 600ms;
  transition: 600ms;
  margin: 1rem;
  margin-top: 3rem;
}

.form button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #440a67;
  -webkit-box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 0.4);
}

.footer-container {
  text-align: center;
  background-color: #440a67;
}

.footer-container p {
  color: #ffffff;
}

.footer-container span {
  color: #fa1e0e;
}
/*# sourceMappingURL=main.css.map */